#
# ndp.par.template 
#

if(1)	  = (ip)host:(port$)short:(vhost)host
feature(1)= (idle)int[0,1000000]:(idlep)int[0,100000]:(maxuser)int[0,100]:(maxerr)int[0,100]

master(1)   = (passwd$)str
user(,1)    = (passwd$)str
ircer0(,1)  = (passwd$)str
ircer1(,1)  = (passwd$)str:(vhost$)host
ircer2(,1)  = (passwd$)str:(vhost$)host:(lhost$)host:(port)short

oport(,1)   = (low)short:(high)short
